.dh {
  display: flex;
  position: sticky;
  border-width: 1px;
  border-style: solid;
  border-color: #282828;
  top: 0;
  width: 100%;
  padding: 8px;
  background-color: white;
  color: black;
}

body {
  font-size: 16px;
  color: #525252;
  font-family: Tahoma, Verdana;
  background: white;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  width: 80%;
  max-width: 600px;
}

#searchInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-bottom: 2px solid #555;
  background-color: transparent;
  transition: all 0.3s ease;
}

#searchInput.error {
  border-color: red;
}

#searchInput::placeholder {
  color: #555;
}

#searchButton {
  background-color: #494949;
  color: #fff;
  padding: 10px 20px;
  border-radius: 1px;
  z-index: 1;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#searchButton:hover {
  background-color: #fff;
  color: #555;
}

#searchTerms {
  font-size: 24px;
  font-weight: bold;
  color: #ff5733;
  text-decoration: none;
}

.label {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
}

.inner {
  padding: 5px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  margin-right: 220px;
  margin-left: 220px;
  margin-bottom: 20px;
}

.button-label {
  font-size: 11px;
  line-height: 30px;
  margin-left: 32px;
}

.button {
  border: 1px solid #666;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  opacity: 1;
  cursor: pointer;
}

.button-icon {
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
  height: 20px;
  margin-left: 6px;
  margin-top: 5px;
  width: 22px;
}

.icon-spotify {
  background-image: url('https://open.spotifycdn.com/cdn/images/favicon32.b64ecc03.png');
}

.icon-apple {
  background-image: url('https://music.apple.com/assets/favicon/favicon-32.png');
}

.icon-amazon {
  background-image: url('https://d5fx445wy2wpk.cloudfront.net/icons/amznMusic_favicon.png');
}

.icon-amazonjp {
  background-image: url('https://d5fx445wy2wpk.cloudfront.net/icons/amznMusic_favicon.png');
}

.icon-youtube {
  background-image: url('https://www.youtube.com/s/desktop/a24ea7cc/img/favicon.ico');
}

.icon-youtubemusic {
  background-image: url('https://music.youtube.com/img/favicon_32.png');
}

.icon-netease {
  background-image: url('https://s1.music.126.net/style/favicon.ico?v20180823');
}

.icon-vgmdb {
  background-image: url('https://vgmdb.net/favicon.ico');
}

.icon-musicenc {
  background-image: url('https://www.musicenc.com/zb_users/theme/bijiblog/include/touxiang.jpg');
}

.icon-jlyric {
  background-image: url('https://j-lyric.net/j-lyric.ico');
}

.icon-followlyrics {
  background-image: url('https://static.thenounproject.com/png/3984569-200.png');
}

.icon-kugeci {
  background-image: url('https://www.kugeci.com/favicon-32x32.png');
}

.icon-baha {
  background-image: url('https://i2.bahamut.com.tw/favicon.svg?v=1689129528');
}

.icon-kkbox {
  background-image: url('https://www.kkbox.com/favicon.ico');
}

.icon-audiomack {
  background-image: url('https://audiomack.com/static/favicon-32x32.png');
}

.icon-audarchive {
  background-image: url('https://archive.org/offshoot_assets/favicon.ico');
}

.icon-soundcloud {
  background-image: url('https://a-v2.sndcdn.com/assets/images/sc-icons/favicon-2cadd14bdb.ico');
}

.icon-shazam {
  background-image: url('https://www.shazam.com/resources/f6f457227917dcdfc9538fbbb5a931f111648b3d/favicon.ico');
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.banner img {
  margin-top: 25px;
  width: 600px;
  height: 85px;
}

.nav {
  display: flex;
  border: 1.5px;
}

.nav a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 5px 70px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 12px;
}

.nav a:hover {
  background-color: lightskyblue;
  color: #fff;
}

.station {
  text-align: center;
  background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
  padding: 2px;
  margin-right: 60px;
  margin-left: 60px;
}

.station h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

#playlist li {
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 2px;
  color: rgb(3, 3, 3);
}

audio {
  width: 200px;
  height: 60px;
}

#playlist li:hover a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #86abeb;
}

.station li a {
  color: #333;
  padding: 5px 5px;
  border-radius: 3px;
  background-color: #ffffff;
  display: block;
}

#player {
  position: fixed;
  bottom: 0;
  background-color: #5d5c5c;
  display: block;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 5px #000000;
  margin-right: 20px;
  border-radius: 10px;
}

#player .cover {
  margin-right: 20px;
}

#player .cover img {
  width: 70px;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}

#stationName {
  margin: 5px 0;
  font-size: 18px;
  color: #fffefe;
}

.heading {
  font-size: 18px;
  color: white;
  font-family: Verdana;
  text-align: center;
  background-color: lightskyblue;
  margin-right: 60px;
  margin-left: 60px;
  padding: 2px;
}

.radio {
  font-size: 18px;
  color: black;
  font-family: Verdana;
  text-align: center;
  background-color: lightskyblue;
  margin-top: 20px;
  margin-right: 60px;
  margin-left: 60px;
  padding: 2px;
}

.radio h2 {
  margin-top: 25px;
}

.download {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
  margin-right: 60px;
  margin-left: 60px;
}

.websites {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
  padding: 2px;
  margin-right: 60px;
  margin-left: 60px;
}

.container {
  flex-basis: 18%;
  padding: 0.5rem;
  text-align: center;
}

.container h5 {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
}

.container:hover {
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #86abeb;
}

.container img {
  width: 100px;
  height: 100px;
}

footer {
  background: #afadec;
  text-align: center;
  padding: 10px;
  margin-right: 60px;
  margin-left: 60px;
}

@viewport {
  width: device-width;
  zoom: 1.0;
  min-zoom: 0.4;
  max-zoom: 2;
  user-zoom: fixed;
}

@media only screen and (max-width: 480px) {

  .dh {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 2px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #282828;
    background-image: linear-gradient(to right, #beeea6, #f7a3b8);
  }

  .search-container {
    display: flex;
    align-items: center;
    margin: 1rem auto;
    width: 80%;
  }

  #searchInput {
    flex: 1;
    padding: 8px;
    font-size: 10px;
    border-bottom: 2px solid #555;
    background-color: #e1d2d2;
  }

  #searchButton {
    padding: 5px 6px;
    margin-left: 5px;
  }

  #searchTerms {
    font-size: 12px;
    font-weight: bold;
    color: #ff5733;
    text-decoration: none;
  }

  .label {
    margin-top: 1px;
    font-size: 13;
    font-weight: bold;
  }

  .inner {
    padding: 7px;
    background-color: #f4f4f4;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  .button-label {
    font-size: 9px;
    line-height: 10px;
    margin-left: 30px;
  }

  .button {
    border: 1px solid #666;
    border-radius: 10%;
    height: 22px;
  }

  .button-icon {
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 16px;
    margin-left: 3px;
    margin-top: 2px;
    width: 14px;
  }

  .logo img {
    width: 35px;
    height: 35px;
  }

  .banner img {
    float: center;
    margin-top: 2px;
    height: 50px;
    width: 160px;
  }

  .nav a {
    text-decoration: underline;
    font-size: 13px;
    color: #000000;
    padding: 0.5px 0.5px;
    border-radius: 1px;
  }

  .station {
    background-color: rgb(207, 234, 251);
    padding: 2px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .station h1 {
    font-size: 12px;
    margin-bottom: 2px;
  }

  #playlist li {
    text-align: center;
    margin-bottom: 0.4rem;
    border-radius: 10%;
  }

  .station li a {
    color: #333;
    padding: 2px 2px;
    border-radius: 3px;
    display: block;
  }

  #player {
    position: sticky;
    display: flex;
    padding: 3px;
    border-radius: 5%;
  }

  #player .cover {
    margin-right: 1px;
  }

  #player .cover img {
    width: 50px;
    height: auto;
    border-radius: 50%;
  }

  #stationName {
    margin: 1px 1px;
    font-size: 14px;
  }

  audio {
    width: 400px;
    height: 80px;
  }

  .heading {
    font-size: 14px;
    color: #ffffff;
    margin-right: 5px;
    margin-left: 5px;
    padding: 2px;
  }

  .radio {
    font-size: 14px;
    text-align: center;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 2px;
  }

  .download {
    padding-top: 1rem;
    margin-right: 5px;
    margin-left: 5px;
  }

  .websites {
    padding: 1px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .container {
    flex-basis: 18%;
    padding: 0.05rem;
  }

  .container h5 {
    font-weight: 500;
    font-size: 0.6rem;
    padding: 0.05rem;
  }

  .container:hover {
    padding: 0.06rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #86abeb;
  }

  .container img {
    width: 40px;
    height: 40px;
  }

  footer {
    text-align: center;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  }
}